ul {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: solid 1px #000;
    font: 1rem Impact, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
    
li {
    line-height: 3rem;
    text-align: center;
}
    
a { 
  height: 3rem;
  text-decoration: none;
  background-color: #eee;
  color: #555;
  display: block;
}

a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}