ul {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: solid 1px #000;
    font: 1rem Impact, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
    
li {
    line-height: 3rem;
    text-align: center;
}
    
li a { 
  height: 3rem;
  text-decoration: none;
  background-color: #eee;
  color: #555;
  display: block;
}

li a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.button {
    display: inline-block;
    margin: 2rem 2rem;
    border-radius: 10px;
    background-color: #28d475;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 0.5rem;
  }