* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
  background-color: skyblue;
  color: white;
  border: 2px solid black;
  font: bold 0.8em Arial, Helvetica, sans-serif;
  height: 200px;
  width: 200px;
}

#div1 {
  border-color: #fff;
  background-color: transparent;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 1;
}
#div2 {
    position: absolute;
    top: 20px;
    left: 20px;
}
#div3 {
    position: absolute;
    top: 20px;
    left: 220px;
}
#div4 {
    position: absolute;
    top: 220px;
    left: 20px;
}
#div5 {
    position: absolute;
    top: 220px;
    left: 220px;

}

.button {
    display: inline-block;
    position: absolute;
    left: 2rem;
    top: 470px;
    border-radius: 10px;
    background-color: #28d475;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 0.5rem;
  }